<body>
    <div class="container">
        <div class="row subtitle">
            <h3>Checkout page</h3>
        </div>
        
        <div class="row">
            <div class="column" id="left">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let product of checkout_products; let idx = index">
                        {{ product.name }}
                        <span class="price">
                            Price: <span class="value">{{ product.price | currency: product.currency }}</span>
                        </span>
                        <button type="button" class="btn btn-success cart" (click)="addToCart(idx)">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </button>
                    </li>
                </ul>

                <div class="select">
                    <label id="select">Select currency:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <select class="selectpicker" (change)="changeCurrency($event.target.value)">
                        <option *ngIf="url_currency" selected value="url_currency">
                            {{ url_currency }}
                        </option>
                        <ng-container *ngFor="let currency of currency_rates">
                            <option *ngIf="currency.name != url_currency" value="{{ currency.name }}">
                                {{ currency.name }}
                            </option>
                        </ng-container>
                    </select>
                </div>
            </div>

            <div class="column" id="right">
                <p class="message" *ngIf="!cart_products.length">No products in your shopping cart</p>
                <p class="message" *ngIf="cart_products.length">Products in your shopping cart</p>
                <table class="table table-striped" *ngIf="cart_products.length">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let product of cart_products; let idx = index">
                            <td>
                                <button type="button" class="btn btn-sm" (click)="deleteFromCart(idx)">
                                    <i class="fa fa-times"></i>
                                </button>
                                {{ product.name }}   
                                <i class="fa fa-info-circle" data-toggle="tooltip"
                                    title="{{ product.description }}" data-placement="auto">
                                </i>                                       
                            </td>
                            <td>
                                <input #quantity type="number" class="quantity" min="1" value="1"
                                    (input)="updateQuantity(quantity, idx)">
                            </td>
                            <td>
                                {{ cart_products[idx].total | currency: cart_products[idx].currency }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <p class="total" *ngIf="cart_products.length">
                    <b>Total: {{ total_price | currency: cart_products[0].currency }}</b>
                </p>
                <button *ngIf="cart_products.length" type="button"
                    class="btn btn-success continue">Continue</button> 
            </div>
        </div>
    </div>
</body>
