
.container {
    height: 85vh;
}

.subtitle{
    margin-top: 90px;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 50%;
    height: 430px;
}

#right {
    background-color: #E8E8E8;
}

.price {
    position: absolute;
    right: 200px;
}

.value {
    color: #0039e6;
}

.cart {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.message {
    text-align: center;
}

.quantity {
    width: 5em
}

.total {
    text-align: right;
    margin-right: 20px;
}

.continue {
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
}

.select {
    margin-top: 20px;
}

#select {
    font-size: 1.5em;
}
